<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ page_title }}</title>

	<link rel="stylesheet" href="/static/css/bootstrap-reboot.rtl.min.css">
	<link rel="stylesheet" href="/static/css/bootstrap-grid.rtl.min.css">
	<link rel="stylesheet" href="/static/css/bootstrap-utilities.rtl.min.css">
	<link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

	<div class="main">
		<div class="row justify-content-between align-items-center">
			<div class="col-4">
				<div class="logo">
					<img src="/static/img/logo1.png" alt="LOGO 1">
				</div>
			</div>
			<div class="col-4">
				<div class="logo ms-auto">
					<img src="/static/img/logo2.png" alt="LOGO 2">
				</div>
			</div>
		</div>
		<div id="qrcode" class="qrcode">

		</div>

		<h1 class="title">{{ event_name }}</h1>
		<h2 id="user-name" class="subtitle"></h2>

		<dl class="desc">

			<dt>شماره بلیت</dt>
			<dd id="ticket-id"></dd>

			<dt>تلفن همراه</dt>
			<dd id="phone-number"></dd>

		</dl>

		<div class="error-msg">
			لینک وارد شده نامعتبر است.
		</div>
	</div>

	<script src="/static/js/jquery-3.6.0.min.js"></script>
	<script src="/static/js/qrcode.min.js"></script>
	<script src="/static/js/script.js"></script>

	<script type="text/javascript">

		const BASE_URL = "{{ base_url }}";

		function get_ticket(ticket_id) {
			return $.get(`${BASE_URL}/api/ticket/${ticket_id}`).then(res => {
				$("#user-name").html(`${res.first_name} ${res.last_name}`);
				$("#ticket-id").html(`${res.ticket_id}`);
				$("#phone-number").html(res.phone_number);
				return res;
			})
		}

		$(() => {
				const ticket_id = "{{ ticket_id }}";
				get_ticket(ticket_id).then(res => {
					new QRCode(document.getElementById("qrcode"), {
						text: `${BASE_URL}/ticket/${ticket_id}`,
						width: 120,
						height: 120
					});
				}).fail(err => {
					$(".main").addClass('error');
				})
		})
	</script>
</body>
</html>