<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ page_title }}</title>

	<link rel="stylesheet" href="/static/css/bootstrap-reboot.rtl.min.css">
	<link rel="stylesheet" href="/static/css/bootstrap-grid.rtl.min.css">
	<link rel="stylesheet" href="/static/css/bootstrap-utilities.rtl.min.css">
	<link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

	<div class="main">
		<input id="password" class="form-control w-100 mb-3" type="text" placeholder="رمز عبور ادمین">
		<button class="btn mb-3" onclick="startQRScanner()">تایید و بازکردن qrScanner</button>
		<div id="reader"></div>
	</div>
	
	<script src="/static/js/jquery-3.6.0.min.js"></script>
	<script src="/static/js/qrcode.min.js"></script>
	<script src="/static/js/html5-qrcode.min.js"></script>
	<script src="/static/js/script.js"></script>

	<script type="text/javascript">

		const BASE_URL = "{{ base_url }}";

		const getPassword = () => {
			return $("#password").val();
		}

		const reserveTicket = ticket_id => {
			$.get(`${BASE_URL}/api/reception/${ticket_id}?password=${getPassword()}`).then(res => {
				alert(`میهمان ${res.first_name} ${res.last_name} با کد بلیت ${ticket_id} برای بار ${res.entrance_count} وارد شد. `);
				return res;
			}).fail(res => {
				alert('بلیت نامعتبر است.');
			})
		}

		const getTicketIdFromURL = url => {
			const parts = url.split("/");
			return parts[parts.length-1]
		}
		const onScanSuccess = (decodedText, decodedResult) => {
			const ticket_id = getTicketIdFromURL(decodedText)

			if (ticket_id) {
				reserveTicket(ticket_id)
			}
		}

		const startQRScanner = () => {
			if (getPassword()) {
				var html5QrcodeScanner = new Html5QrcodeScanner(
						"reader", {fps: 10, qrbox: 250});
				html5QrcodeScanner.render(onScanSuccess);
			}
			else {
				alert('لطفا رمز عبور را وارد کنید');
			}
		}

	</script>
</body>
</html>